* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    scroll-snap-type: y mandatory;
}
ul {
    list-style: none;
}

a,
a:visited,
a:active {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid rgba(3, 64, 59, .15);
}

a:hover {
    color: rgba(3, 64, 59, .6);
}

i[class*="fa"] {
    color: #000;
}

i.fa-github:hover,
i.fa-linkedin:hover,
i.fa-file-alt:hover {
    color: #0274b3;
}

header {
    scroll-snap-align: start;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 25px 50px;
}

header a {
    border: none;
}

header a:hover {
    color: rgba(15, 15, 15, .4);
}

header ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

header ul li {
    margin-left: 12px;
}

header ul li a {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: .8em;
}

#primeiraDobra {
    background-image: url("../img/placeholder-03-01.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: #03403b;
    height: calc(100vh - 104px);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

#primeiraDobra>p {
    width: 75%;
    font-size: 3em;
    line-height: 1.85em;
    text-align: center;
}

#primeiraDobra>p a {
    font-size: inherit;
}

#scrollDown {
    position: absolute;
    bottom: 75px;
    text-transform: uppercase;
    border: none;
    font-family: 'Oswald', sans-serif;
    font-size: 0.8em;
    color: #fff;
}

#scrollDown::after {
    content: "\02C7";
    font-size: 10em;
    font-weight: lighter;
    position: absolute;
    font-family: monospace;
    top: 0;
    left: -7px;
    transition: top 0.3s ease-in-out;
}

#scrollDown:hover::after {
    top: 10px;
}

#projetosRecentes {
    scroll-snap-align: start;
    background-color: #fafafa;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    padding: 36px 50px 30px 50px;
}

#projetosRecentes h2 {
    color: #03403b;
    flex: 1 0 100%;
    font-size: 3em;
    font-weight: lighter;
}

#projetosRecentes section {
    flex: 1 1 45%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

#projetosRecentes section img {
    width: 55%;
    flex: 0 0 38%;
}

#projetosRecentes section article {
    background-color: #fff;
    height: 90%;
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
}


#projetosRecentes section article h3,
#projetosRecentes section article p,
#projetosRecentes section article a {
    margin: 10px 0;
    max-width: 90%;
}

#projetosRecentes section article h3 {
    font-size: 2.5em;
}

#projetosRecentes section article a {
    font-weight: bolder;
}

#projetosRecentes section article a span {
    transition: margin-left 0.3s ease-in-out;
}

#projetosRecentes section article a:hover span {
    margin-left: 10px;
}

footer {
    min-height: 50px;
    text-align: center;
}

footer a {
    border: none;
}

footer p:first-child {
    margin-top: 25px;
}

/* Gambiarra das bravas para forçar a simulação meia boca do efeito paralaxe apenas com CSS */
main article {
    background-position: center;
    transition: background-position 1s ease-out;
}

main:hover article {
    background-position: bottom;
}

main article:hover,
main article:hover ~ article {
    background-position: center;
}

/* Media Query no formato 'mobile last' (não recomendável) */
@media only screen and (max-width: 768px) {

    * {
        scroll-snap-type: none;
    }
    
    header img {
        width: 50px;
        height: 50px;
    }

    #primeiraDobra {
        display: block;
        margin: 0;
    }
    #primeiraDobra > p {
        font-size: 1.5em;
        margin: auto;
    }
    #projetosRecentes,
    #projetosRecentes section {
        flex-flow: column nowrap;
    }
    #projetosRecentes section img {
        width: 100%;
        flex: 1 1 0;
        margin: 50px auto 25px auto;
    }

    #scrollDown {
        left: 45%;
    }

    footer p {
        margin-bottom: 15px;
    }

    footer p:last-child {
        font-size: 0.8em;
    }
    footer p:last-child a {
        font-size: inherit;
    }

}