* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
ul {
    list-style: none;
}
body {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    height: 100vh;
}
header, footer {
    border: 1px dashed green;
    background-color: rgba(0,255,0,0.3);
    flex: 1 0 100%;
    height: 10vh;
    text-align: center;
}
footer ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}
footer ul li {
    flex: 0 0 auto;
}
aside {
    border: 1px dashed red;
    background-color: rgba(255,0,0,0.3);
    flex: 1 1 20%;
    height: 80vh;
}
aside ul {
    display: flex;
    flex-flow: column-reverse nowrap;
    justify-content: flex-start;
    align-items: stretch;
    margin: 20px;
}
aside ul li {
    flex: 1 1 0;
}

#tel {
    order: 2;
}

main {
    border: 1px dashed blue;
    background-color:rgba(0,0,255,0.3);
    flex: 1 1 80%;
}