* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
ul {
    list-style: none;
}
body {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    height: 100vh;
}
header, footer {
    border: 1px dashed green;
    background-color: rgba(0,255,0,0.3);
    flex: 1 0 100%;
    height: 10vh;
    text-align: center;
    padding: 20px;
}
footer ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}
footer ul li {
    flex: 0 0 auto;
}
aside {
    border: 1px dashed red;
    background-color: rgba(255,0,0,0.3);
    flex: 1 1 40%;
    /* height: 80vh; */
}
aside ul {
    display: flex;
    flex-flow: column-reverse nowrap;
    justify-content: flex-start;
    align-items: stretch;
    margin: 20px;
}
aside ul li {
    flex: 1 1 0;
}

#tel {
    order: 2;
}

main {
    border: 1px dashed blue;
    background-color:rgba(0,0,255,0.3);
    flex: 1 1 60%;
}
main section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: stretch;
}
main section h2 {
    flex: 1 0 100%;
    text-align: center; 
}
main section article {
    flex: 1 1 0;
    display: flex;
    flex-flow: column wrap;
    height: 150px;
    border: 1px solid blue;
    margin: 10px auto;
    width: 70%;
}
main section article h3, main section article p {
    flex: 1 1 50%;
    padding: 10px;
}
main section article img {
    width: auto;
    height: 148px;
    order: -1;
    flex: 0 1 0;
}
main section article:nth-child(odd) img {
    order: 2;
}