* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    height: 100vh;
}
header, footer {
    border: 1px dashed green;
    background-color: rgba(0,255,0,0.3);
    flex: 1 0 100%;
    height: 10vh;
}
aside {
    border: 1px dashed red;
    background-color: rgba(255,0,0,0.3);
    flex: 1 1 20%;
}
main {
    border: 1px dashed blue;
    background-color:rgba(0,0,255,0.3);
    flex: 1 1 80%;
}