* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Cousine', monospace;
    font-size: 32px;
}

ul {
    list-style: none;
}

a,
a:visited,
a:active {
    text-decoration: none;
    color: rgb(60, 150, 206);
    font-size: 0.85em;
}

a:hover {
    color: lightskyblue;
}

i[class*="fa"] {
    color: darkgrey;
}

i.fa-github:hover {
    color: #000;
}

i.fa-linkedin:hover,
i.fa-file-alt:hover {
    color: #0274b3;
}

body {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    height: 100vh;
    background-color: #fafafa;
}

/* ASIDE */
aside {
    flex: 0 1 30%;
    height: 100vh;
    padding: 50px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: flex-start;
}

aside h1.titulo {
    color: #4a4a4a;
}

aside h1.titulo:nth-child(4n) {
    margin-bottom: 20px;
}

aside p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.6em;
}

aside ul {
    margin: 20px auto 20px 0;
}

ul.lista-horizontal {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

ul.lista-horizontal li {
    flex: 0 0 auto;
    margin-right: 10px;
}

a[title="Manda uma mensagem pra mim!"] {
    background-color: #1660e7;
    color: #fff;
    font-weight: lighter;
    padding: 5px 12px;
    border-radius: 15px;
    font-size: 0.5em;
}

a[title="Manda uma mensagem pra mim!"]:hover {
    background-color: #094dcc;
}

/* MAIN */
main {
    flex: 1 1 65%;
    overflow-y: scroll;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    color: #fff;
    filter: drop-shadow(1px 0 3px rgba(0, 0, 0, 0.6));
}

main i[class*="fa"] {
    color: #fff;
}

main i[class*="fa"]:hover {
    color: #000;
}

main article {
    flex: 0 1 auto;
    padding: 30px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: stretch;
    max-height: 100vh;
}

main article h3 {
    font-family: monospace;
    font-size: 0.6em;
}

main article img {
    flex: 0 1 auto;
    width: auto;
    height: 80%;
    margin: 0 auto;
}

main article footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

main article p {
    font-size: 0.7em;
}

main article footer div p.cliente {
    font-weight: bold;
    font-size: 1.05em;
}

#projeto01 {
    background-color: #f4b93d;
}

#projeto02 {
    background-color: #005ba9;
}

#projeto03 {
    background-color: #b4ddbf;
}

#projeto04 {
    background-color: #4a4a4a;
}

#projeto04 img,
#projeto06 img {
    flex: 0 1 auto;
    width: 40%;
    height: auto;
    margin: 0 auto;
}

#projeto05 {
    background-color: #54e7c7;
}

#projeto06 {
    background-color: #009ee2;
}

#projeto07 {
    background-color: #eabad8;
}

.extra-info {
    background-color: #f4f3f3;
}

.extra-info h3 {
    text-align: left;
    font-size: 1.2em;
    color: #4a4a4a;
    text-transform: uppercase;
    margin: 12px auto 12px 0;
}

.extra-info p {
    text-decoration: line-through;
    color: lightgrey;
    font-size: 0.6em;
    margin: 12px auto 0 auto;
}

.extra-info a {
    font-size: 0.6em;
    font-weight: lighter;
}

hr {
    border: none;
    margin: 26px auto 15px auto;
    width: 100%;
    border-top: 7px solid #d8d8d8;
}

#footer {
    background-color: #222;
    color: #999;
    text-align: center;
    font-size: 0.66em;
}

::-webkit-scrollbar {
    width: 0.5em;
}

::-webkit-scrollbar-thumb {
    background-color: #4a4a4a;
    outline: 1px solid #353535;
    border-radius: 50px;
}

@media only screen and (max-width: 768px) {
    ::-webkit-scrollbar {
        width: 0;
    }
    ::-webkit-scrollbar-thumb {
        background-color: transparent;
        outline: none;
    }
}