* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 16px;
}
a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}
a.btn {
    background-color: rgb(41, 41, 41);
    background-image: linear-gradient(0deg, rgb(41,41,41) 0%, rgb(41,41,41) 50%, rgb(77, 77, 77) 90%);
    color: #fff;
    font-size: .95em;
    margin: 8px 6px;
    padding: 8px 10px;
    border-radius: 24px;
    transition: background-image, filter 0.8s ease-in-out;
}
a.btn:hover {
    background-color: rgb(14, 14, 14);
    background-image: linear-gradient(0deg, rgb(14,14,14) 0%, rgb(61,61,61) 100%);
    filter: drop-shadow(2px 2px 2px rgba(14,14,14,0.5));
}
main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}
main > h1 {
    color: rgb(41, 41, 41);
    flex: 0 0 100%;
    font-size: 3em;
    text-align: center;
    margin: 30px auto;
}
main > p {
    color: rgb(41, 41, 41);
    display: block;
    width: 80%;
    font-size: 1.1em;
}
main article {
    flex: 1 1 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 25px;
}
main article img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    filter: drop-shadow(2px 2px 4px rgba(0,0,0,0.5));
}
main article div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10px auto;
    padding: 10px 0 10px 20px;
}
main article div h3 {
    font-size: 1.2em;
    margin: 10px;
}
main article div h4,
main article div p {
    margin: 5px 10px;
}
main article div nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}
footer {
    background-color: rgb(41, 41, 41);
    color: #fff;
    text-align: center;
    padding: 10px;
}
@media only screen and (min-width: 768px) {
    main > p {
        width: 50%;
        font-size: 1.5em;
    }
    a.btn {
        margin: 15px 10px;
        font-size: 1.05em;
    }
    main article {
        flex: 0 1 50%;
        flex-flow: row nowrap;
        margin: 25px 25%;
    }
    main article img { width: 50% }
}